<header>
	<h1>Tree</h1>
	<div class="settings">
		<button class="reset">Load default data</button>
		<input type="checkbox" class="isRecursive"{{#if isRecursive }} checked{{/if}}>Use recursive data parsing</button>
	</div>
</header>
<ul class="tree-container"></ul>
