<h1>Tree</h1>
<button class="reset">Load default data</button>
<input type="checkbox" class="isRecursive"{{#if isRecursive }} checked{{/if}}>Use recursive data parsing</button>
<div class="tree-container"></div>
