<div class="itemHead">
	<button class="delete" title="Delete this item with all it's children">Delete</button>
	<button class="add" title="Add new child to this item">Add</button>
	<p class="label" title="Double click to edit label">{{ label }}</p>
</div>
<ul class="children"></ul>
