@import 'nib'

*
  box-sizing: border-box

html
  font-size: 62.5%

body
  font-size: 1.8rem
  background-color: darken(hsl(50, 50, 70), 5)

h1
  margin: 0
  padding: 4rem
  display: inline-block;

header
  position: relative

  .settings
    float: right;
    display: inline-block;
    padding: 2rem;
    vertical-align: middle;

    > *
      display: block;
      margin-bottom: 0.9rem;

ul, li
  list-style-type: none
  margin: 0

button
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: .5rem 1rem;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 0.1rem solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 0.2rem;
  transition: background-color 200ms

  &:hover
    background-color: darken(#E6E6E6, 5)

.itemHead
  padding-left: 1rem

  > *
    display: inline-block

.tree-container
  display: inline-block
  white-space: nowrap
  padding-left: 0
  min-width: 100%

  // Root node
  > li
    > .children
      padding-left: 0

    > .itemHead
      display: none



// Render colors for various tree levels

levelSelector(num)
  sel = ''
  for n in (1..num)
    sel += '> ul > li '

for level in (1..20)
  .tree-container > li {levelSelector(level)}
    background-color: hsl(level * 20 + 30, 50, 70)
