@import 'nib'

*
  box-sizing: border-box

h1
  margin: 0
  padding: 2rem

header
  background-color: darken(hsl(50, 30, 50), 10)
  position: relative

  .settings
    position: absolute
    right: 0
    top: 42%

ul, li
  list-style-type: none
  margin: 0

.itemHead > *
  display: inline-block

.tree-container
  padding-left: 0

  // Root node
  > li
    > .children
      padding-left: 0

    > .itemHead
      display: none



// Render colors for various tree levels

levelSelector(num)
  sel = ''
  for n in (1..num)
    sel += '> ul > li '

for level in (1..20)
  .tree-container > li {levelSelector(level)}
    background-color: hsl(level * 20 + 30, 50, 50)
